<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/css/main.css">
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </head>
    <body>

        <section  ng-app="app" class="main nodes-container container" ng-controller='NodesController as tree'>
            <pre>{{tree.nodes}}</pre>

            <script type="text/ng-template" id="nodeTree">
                <p class="btn node">{{ node.label }}</p>

                <ul ng-if="node.nodes">
                    <li ng-repeat="tree.nodes in nodes" ng-include="'nodeTree'" ng-init="node=tree.nodes"></li>
                </ul>
            </script>

            <ul>
                <li ng-repeat="tree.nodes in nodes" ng-include="'nodeTree'" ng-init="node=tree.nodes"></li>
            </ul>
        </section>

    </body>
</html>