//  _________________________________________________
//
//  IMPORTS, MIXINS, VARIABLES
//  _________________________________________________

@import "compass";
@import "_compass_twitter_bootstrap.scss";

.nodes-container {
    ul, li {
        list-style: none;
    }
}

node,
.node {
    display: block;
    float: left;
    clear: left;
    margin: 5px 0;
}

pre {
    width: 60%;
    position: absolute;
    right: 10px;
    opacity: .3;
    font-size: 11px;
}

















